<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string></string>
	<key>STARBUCKS_API_KEY</key>
	<string>6ba12ef64fmsh48acff864c95c5cp19d5fajsnab29d24d898c</string>
</dict>
</plist>
